@import url('https://fonts.googleapis.com/css2?family=Monserrat');


:root{
    
    --color:#1ebeb6;
    --primar-color: #efbb20;
    --navbar-color:#2c353d;
    --button-color:linear-gradient(90deg,rgba(30,190,182,1)0%,rgba(0,130,124,1))
    --box-shadow:0 0 10px #e7e7e7;
    --background:#f7f7f7;


}
*{
    margin:0;
    padding:0;
    outline:none;
    box-sizing:border-box;
    transition:.2s;
    text-transform:capitalize;
    transition:all .2s linear;
    text-decoration: none;
    font-family: 'Montserrat' sans-serif;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

}
header{
    background-color: var(--color);
    width:100%;
    padding: 1.5rem 7%;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color:white;
    font-size: 2.5rem;
    margin:0 1.5rem;
    text-decoration: none;
}

.menu-icons div{
    color:white;
    font-size:3rem;
    margin-left: 1.5rem;
}
#menu-bar{
    display: none;
}
.home{
    padding:2rem 7% ;
    width:100%;
    background: var(--background);
    margin-right: 5%;
}
.main-home{
    display: flex;
    align-items:center;
    flex-wrap:wrap;
   
   
    
}
.main-inner-home{
    flex:1 1 45rem;
}
.main-inner-home .right-content-img img{
    width:130%;
    float:right;
}
.img_deg{
    top: 0%;
}
.main-inner-home h2{
    font-size: 35px;
    font-weight:500 ;
    padding: 0.5rem 0;
    padding-bottom: 2%;
    margin-left: 8%;
    
}
.main-inner-home h1{
    font-size: 40px;
    padding-bottom: 4%;
    font-weight: 700;
    margin-left: 8%;
}
.main-inner-home p{
    font-size: 1.5rem;
    line-height: 4rem;
    letter-spacing: 1px;
    margin-left: 8%;
}
.home-back{
    position: absolute;
    top:0;
    left:0;
    opacity:0.3;
}
     
     /*Services section*/
     .services{
        padding:2rem 7%;
        width:100%;
        background-color: var(--background);
    }
    .service-heading h1{
        text-align: center;
        font-size: 40px;
        padding-bottom: 3rem;
    }
    .service-heading h1 span{
        color: #1ebeb6;
    }
    
    .main-services{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
    }
    .main-inner-services{
        flex: 1 1 300px;
        padding:2rem;
        box-shadow: var(--box-shadow);
        border-bottom-left-radius: 15px ;
        border-bottom-right-radius: 15px;
    }
    .main-inner-services .service-img img{
        width:100%;
    }
    .service-content{
        text-align: center;
        background-color: white;
        padding: 4rem 0;
    }
    .service-content h2{
        font-size:22px ;
        padding: 1rem 0;
    }
    .service-content p{
        font-size: 1.5rem;
        padding:1rem 0;
        line-height: 2.5rem;
        margin-bottom: 2rem;
    }
    .service-content a{
        padding: 1.5rem 3rem;
        border-radius:15px ;
        font-size: 1.5rem;
        color:white ;
     
        background: var(--button-color);
    }
.appointment{
    padding:2rem 7%;
}
.heading-appointment{
    text-align: center;
}
.heading-appointment h1{
    font-size: 40px;
    padding: 2rem;
}
.heading-appointment h1 span{

    color: var(--color);
}
.main-appointment{
    align-items: center;
    flex-wrap: wrap;
    display:flex;
    gap:1.5rem;
}
.main-inner-appointment{
    flex:1 1 45rem;
}
.main-inner-appointment img{
    width:100%;
    padding:4rem;
}
.right-appointment-content{
    padding: 0 4rem;
}
.right-appointment-content h2{
    font-size: 25px;
    padding:4rem 0 ;}
    .right-appointment-content h2 span{
        color: #1ebeb6;
    }
.right-appointment-content p{
    font-size: 1.5rem;
    line-height: 3rem;
    transition: 0.5s;
    margin-bottom: 4rem;
}
.right-appointment-content a{
    padding:2rem 4rem;
   font-size:1.5rem;
   background: var(--button-color);
   color:white;
   background-color: #1ebeb6;
   
   
}
.right-appointment-content a:hover{
    border-radius: 15px;
}
.Our-Experts{
    padding: 3rem 7%;
    width: 100%;
}
.expert-heading{
    text-align: center;
}
.expert-heading h1{
    font-size: 40px;
   
}
.expert-heading h1 span{
    color: var(--color);
}
.main-expert{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.main-inner-expert{
    flex: 1 1 300px;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
}
.main-inner-expert .expert-img img{
    width:100%;
}
.expert-content{
    text-align: center;
    background-color: white;
    padding: 4rem 0;
}
.expert-content h2{
    font-size:22px ;
    padding: 1rem 0;
}

.image-content{
    padding:0rem 0;
    gap:1.5rem;
    
}
.image-content h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--color);
    
 
 }
.social-media{
   
    font-size:22px;
    padding: 1.5rem;
   
}
.social-media i{
    margin: 1rem 1.5rem;
    color:white;
    background-color:#1ebeb6 ;
    padding: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    gap:15rem;

}
.social-media i:hover{
    transform: scale(1.1)rotate(360deg);
    font-size: 20px;
    cursor: pointer;
}
.heading-review{
    text-align: center;
}
.heading-review{
    font-size: 30px;
}
.heading-review span{
    font-size: 30px;
}


.review .box-container{
    display:flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.review .box-container .box{
    text-align: center;
    padding: 2rem;
    border: 1rem solid var(--color);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #1ebeb6;
    margin-top: 6rem;

}
.review .box-container .box img{
    height:12rem;
    width:12rem;
    border-radius: 50%;
    border:1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}
.review .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding:.5rem 0;
}
.review .box-container .box .stars i{
    font-size:2rem;
    color: var(--background);
    padding: .5rem 0;
}
.review .box-container .box .stars .checked{
    color:orange;
}
.review .box-container .box p{
    font-size: 1.5rem;
    color: #eee;
    padding: 2rem 0;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
}
.swiper-pagination{
    padding-bottom: -10rem;
    gap: 15rem;
   padding-block: -15%;
 
}

.swiper-image{
    padding:3%;
}
.swiper-wrapper{
    padding: 3%;
}
.footer{
    padding: 3rem 7%;
    gap:5rem;
    background: darkslategray;
    margin-top: 30px;
    
}
.main-footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    
    
}
.main-inner-footer{
    flex: 1 1 300px;
}
.main-inner-footer h2{
    font-size: 22px;
    color: white;
}
.main-inner-footer a{
    display: block;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
}
@media(max-width:768px){
    html{
        font:55%;

    }
    header{
        padding: 2rem;
    }
    #menu-bar{
        display: initial;
    }

.navbar{
    position: absolute;
    top:100%;
    left:-100%;
    background:var(--color);
    width:100%;
    height:100vh;
}
.navbar.active{
    left:0;
}
nav a{
    display: flex;
    align-items:center ;
    padding:1.5rem ;
    margin:1rem ;
    border:3px solid var(--background);
    border-radius: 10px;
    background: var(--button-color);
}
}

body {
    font-family: Arial;
    font-size: 16px;
    padding: 6px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 100%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
     max-width:500px;
  margin:auto;
  }
  
  .container1 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
     max-width:600px;
  margin:auto;
  }
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=datetime-local] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  
  input[type=email],textarea, select {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type=number] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=time] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=date] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  
  
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 400px) {
    .row {
      flex-direction: column;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

                